#bdr {
	border-right: 1px solid grey;
	padding:12px;

}
#bdrb {
	border-bottom: 1px solid grey;
	padding:2px;

}

#bdrt {
	border-top: 1px solid grey;
	padding:5px;

}

#ff1 {
	font-family: 'Montserrat', sans-serif;
}

#ff2 {
font-family: 'Roboto', sans-serif;
}

#ff3 {
font-family: 'Raleway', sans-serif;
}

#ff4 {
font-family: 'Courier Prime', monospace;
}

#ff5 {
	font-family: 'Comforter Brush', cursive;
	}

#ff6 {
        font-family: 'Comforter', cursive;
    }

#myPDF {
	width: 95%;
	height: 975px;
}